.top-bar{
  margin: auto;
  padding: 5px 3% 0px;
  position: fixed;
  z-index: 1000000000;
  min-width: inherit;
  position: inherit;
  background-image: image("images pt\PlbVW3.gif");
  background-color: #1a1a1a;
  position: relative;

}
.dropdown.menu{
  background-color: #ffffff;
}
.wrap{
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}
img{
  width:100%;
}
.columns{
  text-align: center;
}
.images{
  width:70%;
  margin: auto;
}
h3 {
  font-family: courier new;
  color: #f2f2f2;
}
body {
  background-color:rgb(125,125,125);
}
h4 {
  color: #f2f2f2;
  font-family: courier new;
}
.vertical.menu {

  border-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: black;
}
h1 {
  color: #f2f2f2;
  font-family: courier new;
}
h2 {
  color: #f2f2f2;
  font-family: courier new;
  text-shadow: 0 0 3px #FF0091;
}
.verticalLine {
  border-left: thick solid #ff0000;
}

.portfolio-background {
    background-color:rgb(125,125,125);
    color: #00ff00;
    background-image: url("images pt\tb.jpg");

  }
  div.image {
     content:url("images pt\tb.jpg");
  }​
  div.picture1 {
   width:100px; /*width of your image*/
   height:100px; /*height of your image*/
   background-image:url("images pt\PlbVW3.gif");
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}
  .background{
    background-image: url("images pt\PlbVW3.gif");
  }
  .relative{
    position:relative;
    width:1300px;
  }
  .absolute-text{
      position:absolute;
      bottom:0;
      font-size:24px;
      font-family:"vedana";
      background:rgba(251,251,251,0.5);
      padding:10px 20px;
      width:100%;
      text-align:center;
    }
    .absolute-text a{
      font-size:16px;
      color:#b92b27;
     }

     b:hover {
       text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
       background-color: green;
     }
ul {
  background-color: #1a1a1a;
}
a {
    background-color: #1a1a1a;
}
.nobullets{
  list-style-type: none;
  text-align: right;
}
.int{
  color: #f2f2f2;
  font-family: courier new;

}
